<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_window_16.gif">
         <run
               class="com.fem.main.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.fem.main.Perspective"
            icon="icons/alt_window_16.gif"
            id="com.fem.main.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="true"
               id="com.fem.ui.views.commandView"
               ratio="0.3f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.fem.ui.views.taskView"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="com.fem.ui.views.commandView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="file"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  id="preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.fem.main.application"
            name="FEM">
         <property
               name="appName"
               value="FEM">
         </property>
         <property
               name="aboutImage"
               value="icons/product_lg.gif">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="Keys">
      </page>
   </extension>

</plugin>
