<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=exit">
         <separator
               name="com.fem.ui.menus.separator4"
               visible="true">
         </separator>
         <command
               commandId="com.fem.cmd.openFile"
               id="openFile"
               label="Open File ...">
         </command>
         <separator
               name="com.fem.ui.menus.separator"
               visible="true">
         </separator>
         <command
               commandId="com.fem.cmd.closeCmd"
               label="Close"
               style="push">
         </command>
         <command
               commandId="com.fem.cmd.closeAll"
               label="Close All"
               style="push">
         </command>
         <separator
               name="com.fem.ui.menus.separator5"
               visible="true">
         </separator>
         <command
               commandId="com.fem.cmd.saveCmd"
               disabledIcon="icons/12505_save_edit.gif"
               icon="icons/12517.save.gif"
               id="save"
               label="Save"
               style="push">
         </command>
         <command
               commandId="com.fem.cmd.saveasCmd"
               disabledIcon="icons/14492.saveas_edit.gif"
               icon="icons/saveas_edit.gif"
               id="saveas"
               label="Save As"
               style="push">
         </command>
         <command
               commandId="com.fem.cmd.saveAll"
               icon="icons/14523.saveall_edit.gif"
               id="save all"
               label="Save All"
               style="push">
         </command>
         <separator
               name="com.fem.ui.menus.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.fem.cmd.printCmd"
               disabledIcon="icons/13447.nav_print.gif"
               icon="icons/13694.e_print_topic.gif"
               id="print"
               label="Print"
               style="push">
         </command>
         <separator
               name="com.fem.ui.menus.separator3"
               visible="true">
         </separator>
         <command
               commandId="com.fem.cmd.exportCmd"
               icon="icons/15360.export_wiz.png"
               label="Export"
               style="push">
         </command>
         <separator
               name="com.fem.ui.menus.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=actions">
         <menu
               id="edit"
               label="Edit">
            <command
                  commandId="com.fem.cmd.undoCmd"
                  disabledIcon="icons/14493.undo_edit.gif"
                  icon="icons/15391.undo_edit.png"
                  id="undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.redoCmd"
                  disabledIcon="icons/14503.redo_edit.gif"
                  icon="icons/15176.redo_edit.png"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="com.fem.ui.menus.separator"
                  visible="true">
            </separator>
            <command
                  commandId="com.fem.cmd.cutCmd"
                  icon="icons/10766.cut.gif"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.copyCmd"
                  icon="icons/10787.copy.png"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.pasteCmd"
                  disabledIcon="icons/14508.paste_edit.gif"
                  icon="icons/14528.paste_edit.gif"
                  label="Paste"
                  style="push">
            </command>
            <separator
                  name="com.fem.ui.menus.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.fem.cmd.deleteCmd"
                  icon="icons/14763.delete.gif"
                  label="Delete"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="actions"
               label="Actions">
            <command
                  commandId="com.fem.cmd.solveCmd"
                  icon="icons/solve.png"
                  id="solve"
                  label="Solve"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.drawElement"
                  icon="icons/draw_element.gif"
                  label="Draw Element"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.mesher"
                  label="Mesher"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.fem.ui.menus.filetoolbar">
            <command
                  commandId="com.fem.ui.editors.cmd.openEditor"
                  icon="icons/15201.newfile_wiz.png"
                  id="new"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.saveCmd"
                  icon="icons/12517.save.gif"
                  id="save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.saveAll"
                  icon="icons/14523.saveall_edit.gif"
                  id="save all"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.printCmd"
                  disabledIcon="icons/13447.nav_print.gif"
                  icon="icons/13694.e_print_topic.gif"
                  id="print"
                  label="Print"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="com.fem.ui.menus.actionsToolbar">
            <command
                  commandId="com.fem.cmd.solveCmd"
                  icon="icons/solve.png"
                  id="solve"
                  label="Solve"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.drawElement"
                  icon="icons/draw_element.gif"
                  label="Draw Element"
                  style="push">
            </command>
            <command
                  commandId="com.fem.cmd.mesher"
                  label="Mesher"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?before=preferences">
         <menu
               id="showView"
               label="Show View">
         </menu>
      </menuContribution>
   </extension>

</plugin>
