<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.fem.ui.views.FemView"
            id="com.fem.ui.views.commandView"
            name="Command View"
            restorable="true">
      </view>
      <view
            class="com.fem.ui.views.TaskView"
            id="com.fem.ui.views.taskView"
            name="Tasks"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:showView">
         <command
               commandId="com.fem.cmd.showView"
               label="Tasks"
               style="push">
            <parameter
                  name="com.fem.cmd.viewId"
                  value="com.fem.ui.views.taskView">
            </parameter>
         </command>
         <command
               commandId="com.fem.cmd.showView"
               label="Command View"
               style="push">
            <parameter
                  name="com.fem.cmd.viewId"
                  value="com.fem.ui.views.commandView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="com.fem.element">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.fem.element"
            colorPreferenceKey="annotateElemColor"
            colorPreferenceValue="0,225,255"
            contributesToHeader="false"
            highlightPreferenceKey="annotateElemHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Sample Annotation"
            overviewRulerPreferenceKey="annotateElemOverviewRuler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="annotateElemText"
            verticalRulerPreferenceKey="annotateElemVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
</plugin>
