<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.fem.ui.views.FemView"
            id="com.fem.ui.views.femView"
            name="Fem View"
            restorable="true">
      </view>
      <view
            class="com.fem.ui.views.TaskView"
            id="com.fem.ui.views.taskView"
            name="Tasks"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:showView">
         <command
               commandId="com.fem.cmd.showView"
               label="Tasks"
               style="push">
            <parameter
                  name="com.fem.cmd.viewId"
                  value="com.fem.ui.views.taskView">
            </parameter>
         </command>
         <command
               commandId="com.fem.cmd.showView"
               label="Fem View"
               style="push">
            <parameter
                  name="com.fem.cmd.viewId"
                  value="com.fem.ui.views.femView">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
