<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.fem.cmd.SaveCmd"
            commandId="com.fem.cmd.saveCmd">
      </handler>
      <handler
            class="com.fem.cmd.SaveAllCmd"
            commandId="com.fem.cmd.saveAll">
      </handler>
      <handler
            class="com.fem.cmd.PrintCmd"
            commandId="com.fem.cmd.printCmd">
      </handler>
      <handler
            class="com.fem.cmd.SaveAsCmd"
            commandId="com.fem.cmd.saveasCmd">
      </handler>
      <handler
            class="com.fem.cmd.UndoCmd"
            commandId="com.fem.cmd.undoCmd">
      </handler>
      <handler
            class="com.fem.cmd.RedoCmd"
            commandId="com.fem.cmd.redoCmd">
      </handler>
      <handler
            class="com.fem.cmd.CutCmd"
            commandId="com.fem.cmd.cutCmd">
      </handler>
      <handler
            class="com.fem.cmd.CopyCmd"
            commandId="com.fem.cmd.copyCmd">
      </handler>
      <handler
            class="com.fem.cmd.PasteCmd"
            commandId="com.fem.cmd.pasteCmd">
      </handler>
      <handler
            class="com.fem.cmd.DeleteCmd"
            commandId="com.fem.cmd.deleteCmd">
      </handler>
      <handler
            class="com.fem.cmd.ExportCmd"
            commandId="com.fem.cmd.exportCmd">
      </handler>
      <handler
            class="com.fem.cmd.SolveCmd"
            commandId="com.fem.cmd.solveCmd">
      </handler>
      <handler
            class="com.fem.cmd.ShowViewCmd"
            commandId="com.fem.cmd.showView">
      </handler>
      <handler
            class="com.fem.cmd.OpenFileCmd"
            commandId="com.fem.cmd.openFile">
      </handler>
      <handler
            class="com.fem.cmd.DrawElement"
            commandId="com.fem.cmd.drawElement">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.fem.main.femEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.fem.cmd.CloseCmd"
            commandId="com.fem.cmd.closeCmd">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.fem.main.femEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.fem.cmd.CloseAllCmd"
            commandId="com.fem.cmd.closeAll">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.fem.main.femEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.fem.cmd.MeshCmd"
            commandId="com.fem.cmd.mesher">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.fem.main.femEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
